<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz App</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <div home-container>
            <div class="logout">
                <a href="http://">logout</a>
            </div>

            <div>
                <img src="profilePicture.png" alt="profile picture">
            </div>

            <div class="data">
                <h1>first last</h1>
                <h4>organization</h4>
            </div>

            <div class="addQ">
                <img src="add.png" alt="add quiz">
            </div>

            <div id="quizes">
                <div class="quiz">
                    <div class="details">
                        <h2>quiz name</h2>
                        <small>12/12/2012</small>
                    </div>
                    <div class="topic">
                        <span>programming</span>
                    </div>
                    <div class="action">
                        <button class="rounded">edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="quizModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <input type="text" name="quizName" id="quizName" placeholder="quiz name">
                <input type="text" name="quizTopic" id="quizTopic" placeholder="quiz topic">
            </div>
            <div class="modal-footer">
                <input type="button" value="create quiz" id="addQuiz">
            </div>
        </div>
    </div>

    <script src="home.js"></script>

</body>
</html>