<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz App</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <div home-container>
            <div class="logout">
                <a href="/login">logout</a>
            </div>

            <div>
                <img src="includes/images/profilePicture.png" alt="profile picture">
            </div>

            <div class="data">
                <h1><%=name%></h1>
                <h4><%=org%></h4>
            </div>

            <div class="addQ">
                <img src="includes/images/add.png" alt="add quiz">
            </div>

            <div id="quizes"></div>
        </div>
    </div>

    <div id="quizModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <input type="text" name="quizName" id="quizName" placeholder="quiz name">
                <input type="text" name="quizTopic" id="quizTopic" placeholder="quiz topic">
            </div>
            <div class="modal-footer">
                <input type="button" value="create quiz" id="addQuiz">
            </div>
        </div>
    </div>

    <script src="js/home.js"></script>
    <script>
        const token = <%- JSON.stringify(token) %>
        window.localStorage.setItem('token', token);
        const userQuizes = <%- JSON.stringify(quizes) %>
        userQuizes.forEach(addQuizToUI);
    </script>

</body>
</html>