<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz App</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <div login-container>
            <form action="/login" method="post">
                <input type="email" name="email" id="email" placeholder="e-mail" class="rounded" required>
                <input type="password" name="password" id="password" placeholder="password" class="rounded" required>
                <small>forget password??</small>
                <button type="submit" class="rounded btn-grad">login</button>
            </form>
            <p><a href="/signup">Create new account</a></p>
        </div>
    </div>
</body>
</html>